parameters:
	level: 8
	paths:
		- src
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#Property (.*?) type has no value type specified in iterable type array#'
		- '#Method (.*?) has parameter (.*?) with no value type specified in iterable type array#'
		- '#Method (.*?) return type has no value type specified in iterable type array#'